@page "/careers"
@{
    ViewBag.Title = "Job Opportunities";
     ViewBag.NavButtonNames = "careers-nav-btn";
}
<div class="page-name">
    <h1>JOB OPPORTUNITIES</h1>
</div>
@section head{
    <meta name='description' content='We take pride in our ever-growing passionate and hardworking team. Explore our job availabilities now.' />
}
<div class="faded-img-behind top-bottom-padding left-right-padding">
    <div class="row">
        <div class="col-lg-6 col-12">
            <div class="job-container">
                <h2 class="body-title">Class 1 and Class 2 Tipper Drivers</h2>
                <div class="f7">
                    Rory J Holbrook Ltd are recruiting experienced Class 1 and class 2 Tipper drivers. Immediate starts available. Local and away work available.
                    <hr/>
                    Reference ID: Class 1 and class 2 Tipper drivers
                    <hr/>
                    Full PPE supplied.
                    <hr/>
                    Good rates of pay with generous bonus scheme.
                    <hr/>
                    COVID-19 considerations:
                    All staff and site visitors are wearing face coverings when moving in and around the premises at all times.
                    <hr/>
                    Please call <a href="tel:01953718306">01953718306 </a> and ask for either Ben or Jake or email <a href="mailto:ben@holbrookgroup.co.uk">jake@holbrookgroup.co.uk</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="job-container">
                <h2 class="body-title">Grab Lorry Operator</h2>
                <div class="f7">
                    Rory J Holbrook Ltd are recruiting experienced Grab Lorry Operators. Immediate starts available. Local and away work available.
                    <hr/>
                    Reference ID: Grab Lorry Operator.
                    <hr/>
                    Full PPE supplied.
                    <hr/>
                    Good rates of pay with generous bonus scheme.
                    <hr/>
                    COVID-19 considerations:
                    All staff and site visitors are wearing face coverings when moving in and around the premises at all times.
                    <hr/>
                    Please call <a href="tel:01953718306">01953718306 </a> and ask for either Ben or Jake or email <a href="mailto:ben@holbrookgroup.co.uk">ben@holbrookgroup.co.uk</a>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts {
    <script>
        $('.job-opportunities').hide()

        $('#careers-nav-btn').css('color', 'black').css('font-weight', 'bold');
    </script>
}
